.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.modal-container {
  background-color: white;
  outline: none;
  border-radius: 0.25rem;
  padding: 1rem;
  position: absolute;
  top: 48px;
  left: 128px;
  right: 128px;
  bottom: 48px;
}

.modal-title {
  display: inline-block;
  margin-top: 0;
}

.modal-close {
  color: #888;
  right: 1rem;
  position: absolute;
  display: inline-block;
}

.modal-projectContainer {
  overflow-y: scroll;
  height: calc(100% - 2rem);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
