@import "./styles/modules.css";
@import "//fonts.googleapis.com/css?family=Droid+Sans";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: #555;
  text-align: center;
  height: 14in;
  width: 100%;
}

.containerNineties {
  background: url('./stars.gif') repeat;
  cursor: url(./cur45.ani), url(./cur45.png), default !important;
}

.resume {
  width: 8.5in;
  height: 11in;
  background-color: #ffffff;
  display: inline-block;
  margin: 3.75rem auto 0 auto;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4)
}

.downloadLink {
  display: block;
  position: relative;
  font-size: 14pt;
}

.randomFact {
  display: block;
  position: relative;
  top: 1.5rem;
  margin: auto;
  color: white;
}

.randomFact > button {
  color: white;
  margin-left: 1rem;
  background-color: #888;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  padding: 2px 0 0 0;
}

.randomFact > button:hover {
  border: thin solid white;
}

.randomFact > button:focus {
  outline: none;
}

.button-clear {
  color: -webkit-link;
  cursor: pointer;
  -webkit-appearance: none;
  background: none;
  border: none;
}

.styleContainer {
  width: 8.5in;
  margin: 0 auto;
  text-align: right;
}

.styleButtonGroup {
  display: inline-block;
  padding-top: 1rem;
}

.styleButton {
  border-radius: 1rem;
  background-color: white;
  width: 1rem;
  height: 1rem;
  padding: 0.8rem;
  overflow: hidden;
  transition: 200ms ease-in-out;
  margin-left: 0.5rem;
  color: black;
}

.styleButton:hover {
  width: 12rem;
}

.styleButtonIcon {
  display: block;
  margin-top: -0.35rem;
  margin-left: -0.35rem;
}

.visitorCounter {
  color: #ff0088;
  font-size: 16pt;
  margin: 1rem 0;
}

.visitorCounter-number {
  margin-top: 0.5rem;
  color: #00ff00;
}
